@model IEnumerable<BlogClassLibrary.Post>

@{
    ViewBag.Title = "GetPostsWithHashtags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetPostsWithHashtags</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h4>@Html.ActionLink(item.Header, "Post", "Blog", new { PostId = item.Id }, null)</h4>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        
        
    </tr>
}

</table>
