@using Antlr.Runtime
@model BlogClassLibrary.Blog
@{
    ViewBag.Title = Model.Name;
    ViewBag.HeaderMainText = Model.Name;
    ViewBag.HeaderMainDescription = Model.Description;
    ViewBag.HeaderImage = Model.BackgroundImage;
    ViewBag.BlogId = Model.Id;
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="col-md-9 blogMainContent">
    @*<h2>@Model.Name</h2>*@

    @foreach (var item in Model.Posts)
    {
       

        <div class="RobinLearnPostHeader">
            <tr>
                
                <td>

                    <h2>@Html.ActionLink(item.Header, "Post", "Blog", new {PostId = item.Id}, null)</h2>
                    <p>@Html.ActionLink("Edit Post", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete Post", "Delete", new { id = item.Id })</p>
                </td>

            </tr>

            <div class="RobinLearnPostContent">

                @*@Html.DisplayFor(modelItem => item.Content)*@

                @Html.Raw(item.Content)


                <br/>

                @foreach (var hashtag in item.Hashtags)
                {
                    @Html.ActionLink(hashtag.Tag + "  ", "GetPostsWithHashtags", "Blog", new {tag = hashtag.Tag}, null)
                }
                <br/>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                    
                </td>
            </div>


            <div class="fb-like" data-href="http://mountainpower.se/Blog/Post?PostId=@item.Id" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
            </div>



            <a class="fadein">Post</a>
            @*<a class="fadeout">Comments</a>*@




            <div class="fadeInCommentTest"><p>@item.Comments.Count Comments </p>
                <div class="testHideDivId col-md-12">
                    @Html.Action("PostANewComment", new { Postid = item.Id })

                </div>
            </div>
</div>
        
            foreach (var comment in item.Comments)
            {
                <div class="RobinLearingToComment col-md-12">

                    This is a comment to the post



                    <td>@Html.DisplayFor(modelItem => comment.DateTime)</td>
                    <td>@Html.DisplayFor(modelItem => comment.Author)</td>
                    <td>@Html.DisplayFor(modelItem => comment.Content)</td>

                </div>
            }
        
    }
    @foreach (var post in Model.Posts)
    {
        <div class="editor-label">
            @Html.LabelFor(singlePost => singlePost.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(posts => post.Content)
            @Html.ValidationMessageFor(posts => post.Content)
        </div>
    }
    

</div>

<div class="col-md-3 blogSideContent">

    <div class="container">
        <div class="row">
            <div class="col-md-12 sidebarContentPlaceholder">
                <h5>Top-Ten hashtags</h5>
                @*@foreach (var blog in Model)
                {

                    foreach (var post in blog.Posts)
                    {
                        @Html.Partial("_HashTags", post.Hashtags)
                    }


                }*@



            </div>
            <div class="col-md-12 sidebarContentPlaceholder">
                <h5>RSS FLOW</h5>
            </div>
            <div class="col-md-12 sidebarContentPlaceholder">
                <h5>Placeholder</h5>
            </div>
        </div>
    </div>

</div>


