@using Antlr.Runtime
@using Microsoft.AspNet.Identity
@model BlogClassLibrary.Blog
@{
    ViewBag.Title = Model.Name;
    ViewBag.HeaderMainText = Model.Name;
    ViewBag.HeaderMainDescription = Model.Description;
    ViewBag.HeaderImage = Model.BackgroundImage;
    ViewBag.BlogId = Model.Id;
}
<link href="~/Styles/ViewStyles/HomeViewStyle.css" rel="stylesheet" />
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="col-md-9 blogMainContent">
    <article class="col-md-12 blogPost">
        @foreach (var item in Model.Posts)
        {
            <div class="col-md-12 RobinLearnPostHeader">

                <h2>@Html.ActionLink(item.Header, "Post", "Blog", new { PostId = item.Id }, null)</h2>
                @if (User.Identity.IsAuthenticated && Model.Owner.UserName == User.Identity.GetUserName())
                {
                    <p>@Html.ActionLink("Edit Post", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete Post", "Delete", new { id = item.Id })</p>
                }
                
            </div>

            <div class="col-md-12 RobinLearnPostContent">
                
                <p>@Html.Raw(item.Content)</p>

                @foreach (var hashtag in item.Hashtags)
                {
                    @Html.ActionLink(hashtag.Tag + "  ", "GetPostsWithHashtags", "Blog", new { tag = hashtag.Tag }, null)
                }
                <br />
               
                <p>Post created :@Html.DisplayFor(modelItem => item.DateTime)</p>

            </div>

            <div class="fb-like" data-href="http://mountainpower.se/Blog/Post?PostId=@item.Id" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
            </div>

            <div class="fadeInCommentTest">
                <div class="fadeToggleClass"><p>@item.Comments.Count Comments</p></div>
                <div class="testHideDivId col-md-12">
                    @foreach (var comment in item.Comments)
                    {
                        <div class="RobinLearingToComment col-md-12">
                            @*@Html.DisplayFor(modelItem => comment.DateTime)*@
                            <strong>@Html.DisplayFor(modelItem => comment.Author):</strong> <br/>
                            @Html.DisplayFor(modelItem => comment.Content)<br/>
                            @Html.DisplayFor(modelItem => comment.DateTime)
                            <hr/>
                        </div>
                    }

                    @Html.Action("PostANewComment", new {Postid = item.Id})

                </div>
            <hr/>
            </div>
        
        }

    </article>

</div>


<div class="col-md-3 blogSideContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sidebarContentPlaceholder">

                <h3>Search</h3>

                @using (Ajax.BeginForm("SearchAutoComplete", "Home", new AjaxOptions
                        {
                            UpdateTargetId = "search_results"
                        }))
                {
                    <input type="text" id="search_term" />
                    <input type="submit" value="Go!" />
                }


            </div>
            <div class="col-md-12 sidebarContentPlaceholder">

                <h5>Latest Posts</h5>

                @Html.Action("_postHeader", "Home")

            </div>
            <div class="col-md-12 sidebarContentPlaceholder">
                <h5>Top-25 Hashtags</h5>

                @Html.Action("_HashTags", "Home")

            </div>
            <div class="col-md-12 sidebarContentPlaceholder">
                <h5>Links</h5>
                @foreach (var link in Model.Links)
                {
                    <a class="blogLinkAnchor" href="@link.HyperLink">@link.LinkName</a>
                    <br />
                }
                

            </div>
        </div>
    </div>

</div>


