@model BlogClassLibrary.Post

@{
    
    ViewBag.HeaderMainText = Model.Blog.Name;
    ViewBag.HeaderMainDescription = Model.Blog.Description;
    ViewBag.HeaderImage = Model.Blog.BackgroundImage;
    ViewBag.Title = Model.Blog.Name + " | " + Model.Header ;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<link href="~/Styles/ViewStyles/HomeViewStyle.css" rel="stylesheet" />
@*<link href="~/Styles/_BlogLayoutStyle.css" rel="stylesheet" />*@
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="col-md-9 blogMainContent">
    <h2>@Model.Header</h2>
    <p>@Model.Content</p>
    <div>
        @foreach (var hashtag in Model.Hashtags)
        {
            @Html.ActionLink(hashtag.Tag + "  ", "GetPostsWithHashtags", "Blog", new { tag = hashtag.Tag }, null)
        }
    </div>

    <div class="fb-like" data-href="http://mountainpower.se/Blog/Post?PostId=@Model.Id" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
    </div>

    <h3>@Html.ActionLink("Go to blog - " + Model.Blog.Name, "Index", "Blog", new { BlogId = Model.Blog.Id }, null)</h3>
    
    <div class="fadeToggleClass"><p>@Model.Comments.Count Comments</p></div>
    <div class="testHideDivId col-md-12">
        @foreach (var comment in Model.Comments)
        {
            <div class="RobinLearingToComment col-md-12">
                @*@Html.DisplayFor(modelItem => comment.DateTime)*@
                <strong>@Html.DisplayFor(modelItem => comment.Author):</strong> <br />
                @Html.DisplayFor(modelItem => comment.Content)<br />
                @Html.DisplayFor(modelItem => comment.DateTime)
                <hr />
            </div>
        }

        @Html.Action("PostANewComment", new { Postid = Model.Id })

    </div>
</div>
   <div class="col-md-3 sidebarContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sidebarContentPlaceholder">


                <h3>Search</h3>

                @using (Ajax.BeginForm("SearchAutoComplete", "Home", new AjaxOptions
                        {
                            UpdateTargetId = "search_results"
                        }))
                {
                    <input type="text" id="search_term" />
                    <input type="submit" value="Go!" />
                }


            </div>
            <div class="col-md-12 sidebarContentPlaceholder">

                <h5>Latest Posts</h5>

                @Html.Action("_postHeader","Home")

            </div>
            <div class="col-md-12 sidebarContentPlaceholder">
                <h5>Top-25 Hashtags</h5>

                @Html.Action("_HashTags","Home")

            </div>
        </div>
    </div>

</div>










