<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Styles/_BlogLayoutStyle.css" rel="stylesheet"/>

    <!-- *** fonts **** -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 mainHeader" background="">
                <div class="headerTextContainer headerContextElement">
                    <h3 class="blogHeaderHeadline">@ViewBag.HeaderMainText</h3>
                    <h4 class="blogHeaderDescription">@ViewBag.HeaderMainDescription</h4>
                </div>
                <div class="headerImageContainer headerContextElement">
                    <img class="blogHeaderImageElement" src="@ViewBag.HeaderImage" alt="" />
                </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="col-md-12 blogMainNavigation">
                <div class="headerTitle">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Welcome to the Whiskey Blog",
                                "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>

                <div class="navigation">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                            <li>@Html.ActionLink("About", "Contact", "Home")</li>

                            <li>@Html.ActionLink("New Blogpost", "Insert", new { id = @ViewBag.BlogId })</li>

                            <li>@Html.ActionLink("Submit Post", "SubmitPost", new { id = @ViewBag.BlogId })</li>

                        </ul>

                    </div>
                </div>

            </nav>


        </div> <!-- *** row end *** -->
    </div> <!-- ** container end ** -->

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>





    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>