<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Styles/_LayoutStyle.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/MainSiteScript.js"></script>

    <!-- *** fonts **** -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href="~/Styles/ShareStyle.css" rel="stylesheet" />
 

</head>
<body>
    <!-- *** Main wrapper to put all content on the webbage in *** -->
    <div id="wrap">
        <div class="navbar navbar-inverse navbar-fixed-top navigationFrameFullWidth">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Raj's Blog Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        }



                    </ul>
                   
                    <div id="share-buttons">
                        <!-- Google+ -->
                        <a href="http://www.gmail.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
                        <!--LinkedIn-->
                        <a href="http://www.linkedin.com/" target="_blank">
                            <img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                        </a>
                        <!-- Twitter -->
                        <a href="http://www.twitter.com" target="_blank">
                            <img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                        </a>
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>



        <div class="container contentWrapper">
            <div class="row mainHeader">
                <div class="col-md-12 BlogLinkContent">
                    @RenderBody()
                </div>


            </div> <!-- *** row end *** -->
        </div> <!-- ** container end ** -->

    </div> <!-- *** #wrap end *** -->
    <footer id="footer">
        <div id="footer-text" class="container">© COPYRIGHT @DateTime.Now.Year - RAJ's Blog Portal </div>
    </footer>


</body>
</html>
